#heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

body{
    background-size: cover;
    background-position: center;
}

a{
    background-color: red;
    color: white;
    font-size: 18px;
}